
.section-title {
    text-align: center;
    padding-bottom: 80px;
    h2{
        font-size: $font-size-xxl;
    }
    p{
        color: #7D7D7D;
        margin-bottom: 0;
        font-size: $font-size-sm;
    }
}

.white-bg{
    background-color: #fff;
}

.services{
    .list-image{
        display: inline-block;
        width: 110px;
        vertical-align: top;
        .list-icon {
            width: 80px;
            height: 80px;
            border: 1px solid #E0E0E0;
            background-color: #F9F9F9;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .list-description {
        display: inline-block;
        width: calc(100% - 116px);
        h4{
            margin-bottom: 0;
            padding-bottom: 16px;
        }
        p{
            font-size: $font-size-xs;
            line-height: 19px;
            color: #1a1a1a;
            font-weight: 600;
            margin-bottom: 0;
        }
    }

    .services-list{
        ul{
            padding: 0;
            margin-bottom: 0;
        }
    }
    &.two-column{
        .services-list{
            ul{
                display: block;
                li{
                    display: inline-block;
                    width: 49%;
                    padding-bottom: 40px;
                    &:nth-last-child(2), &:last-child(1){
                        padding-bottom: 0px;
                    }
                }
            }
        }
    }
}

.section-padd{
    padding: 100px 0px;
}

.how-it-work{
    .section-title{
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    .list-icon{
        min-height: 180px;
        display: flex;
        img{
            margin: auto;
        }
    }
}

.elementary-banner{
    position: relative;
    background-color: #fff;
    .elements{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        .bottom-left{
            position: absolute;
            bottom: 0;
            max-width: 312px;
            left: 0;
        }
        .bottom-right{
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 241px;
        }
        .top-right{
            position: absolute;
            top: 0;
            right: 0;
            max-width: 577px;
        }
        .top-left{
            position: absolute;
            top: 0;
            left: 0;
            max-width: 577px;
        }
    }
    .element-index{
        position: relative;
        z-index: 9;
    }
}

.two-column {
    display: flex;
    align-content: center;
    align-items: center;
    .content-sec{
        margin-right: 90px;
        flex-shrink: 1.4;
    }
}

    .content-sec{
        h2{
            font-size: $font-size-xl;
            margin-bottom: 32px;
        }
        h1{
            font-size: $font-size-xxl;
        }
        p{
            font-size: $font-size-xs;
            color: #7D7D7D;
            margin-bottom: 32px;
        }
    }

.avability-app{
    a {
        display: inline-block;
        margin-right: 24px;
        &:last-child{
            margin-right: 0px;
        }
    }
}




// Sign Up Sass Start

.sign-up {
    max-width: 850px;
    margin: 0 auto;
    h1 {
        margin:60px 0 40px 0;
    }
}

.sign-up-form {
    border: 1px solid $grey-lite;
    padding: 33px;
    border-radius: 8px;
    background-color: #FFFFFF;
}
.form-detail {
    p {
        font-size: $font-size-xxs;
        font-family:$font_regular;
        margin-top: 30px;
    }
}
// Sign Up Sass End


//featured categories
.featured-categories{
    width:100%;
    background-color:$grey-Elite;
    padding:22px 0;
}
