$section-padding:100px 0px;
$section-padding-sm:20px 0px;
.section{
    position:relative;
    background-color:#fff;
    padding:$section-padding;
    &.section-grey{
        background-color:$grey-Elite;
    }
    &.padding-sm{
        padding:$section-padding-sm;
    }
}
.section-title {
    text-align: center;
    padding-bottom: 80px;
    h2{
        font-size: $font-size-xxl;
    }
    p{
        color: #7D7D7D;
        margin-bottom: 0;
        font-size: $font-size-sm;
    }
}

.white-bg{
    background-color: #fff;
}


/*===
    list icons
===*/

.list-image{
    display: inline-block;
    width:100px;
    vertical-align: middle;
}

.list-icon {
    display: inline-block;
    width:80px;
    height:80px;
    vertical-align:middle;
    border: 1px solid #E0E0E0;
    background-color: #F9F9F9;
    border-radius: 12px;
    .inner{
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    &.sm{
        width:55px;
        height:55px;
        border-radius: 10px;
        .inner{
            width:55px;
            height:55px;
            padding: 10px;
        }
    }
    &.white{
        background-color:#fff;
    }
}

.list-description {
    vertical-align:middle;
    display: inline-block;
    width: calc(100% - 116px);
    h4{
        margin-bottom: 0;
        padding-bottom:12px;
    }
    p{
        font-size: $font-size-xs;
        color: #1a1a1a;
        margin-bottom: 0;
    }
}

/*
    list icons details
*/

.services{

    .services-list{
        ul{
            padding: 0;
            margin-bottom: 0;
        }
    }
    &.two-column{
        .services-list{
            ul{
                display: block;
                li{
                    display: inline-block;
                    width: 49%;
                    padding-bottom:52px;
                    &:nth-last-child(2), &:last-child(1){
                        padding-bottom: 0px;
                    }
                }
            }
        }
    }
}

.section-padd{
    padding: 100px 0px;
}

.how-it-work{
    .section-title{
        padding-bottom: 20px;
        margin-bottom: 0;
    }
    .icon{
        display: block;
        margin: 0 auto;
        img{
            width: auto;
            margin: auto;
            height: 92px;
            margin-bottom: 42px;
        }
    }
}

.elementary-banner{
    position: relative;
    .elements{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        .bottom-left{
            position: absolute;
            bottom: 0;
            max-width: 312px;
            left: 0;
        }
        .bottom-right{
            position: absolute;
            bottom: 0;
            right: 0;
            max-width: 241px;
        }
        .top-right{
            position: absolute;
            top: 0;
            right: 0;
            max-width: 577px;
        }
        .bottom-center{
            position: absolute;
            bottom: 0;
            left: 43%;
            max-width: 577px;
        }
        .top-left{
            position: absolute;
            top: 0;
            left: 0;
            max-width: 577px;
        }
        .width-max{
            max-width: 500px !important;
            width: 400px;
        }
    }
    .element-index{
        position: relative;
        z-index: 99;
    }
}

.two-column {
    display: flex;
    align-content: center;
    align-items: center;
    .content-sec{
        margin-right: 90px;
        flex-shrink: 1.4;
    }
}

    .content-sec{
        h2{
            font-size: $font-size-xl;
            margin-bottom: 32px;
        }
        h1{
            font-size: $font-size-xxl;
        }
        p{
            font-size: $font-size-xs;
            color: #7D7D7D;
            margin-bottom: 32px;
        }
    }

.avability-app{
    a {
        display: inline-block;
        margin-right: 24px;
        &:last-child{
            margin-right: 0px;
        }
    }
}




// Sign Up Sass Start

.wrapper-sm {
    max-width: 850px;
    margin: 0 auto;
    h1 {
        margin:0px 0 40px 0;
        text-align: center;
    }
}

.sign-up-form {
    border: 1px solid $grey-lite;
    padding: 33px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.service-provider-form {
    position: relative;
    margin-bottom: 40px;
    &:after {
        content: 'CUSTOMER SIGN UP';
        position: absolute;
        background: #fff;
        width: 187px;
        top: -10px;
        font-size: 14px;
        color: $grey-Edark;
        font-family:$font_medium;
        text-align: center;
        left: 39%;
    }
}
.business-form {
    position: relative;
    margin-bottom: 40px;
    &:after {
        content: 'SERVICE PROVIDER SIGN UP';
        position: absolute;
        background: #fff;
        width: 248px;
        top: -10px;
        font-size: 14px;
        color: $grey-Edark;
        font-family:$font_medium;
        text-align: center;
        left: 35%;
    }
}
.create-account-btn {
    margin-top: 17px;
}
.already-signup {
    font-size: 20px;
    text-align: center;
    a {
        color: $primary-color-md;
        text-decoration: none;
    }
    p {
        margin-bottom: 40px;
    }
}
.form-detail {
    p {
        font-size: $font-size-xxs;
        font-family:$font_regular;
        margin-top: 30px;
    }
}
.nav-tabs {
    border-bottom: none;
    margin-bottom: 40px;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: #fff;
}
li.nav-item.active {
    border: 1px solid #8200FF;
    background-color: #F9F9F9;
}
.nav-tabs {
    .nav-item {
        position: relative;
        margin-bottom: -1px;
        border: 1px solid #6004BA;
        border-radius: 8px;
        margin-right: 60px;
        border: 1px solid #E0E0E0;
        background-color: #F9F9F9;
        height: 98px;
        width: 395px;
            a {
                font-size: 18px;
                margin-top: 20px;
                height: 82px;
                i {
                    position: absolute;
                    right: 9px;
                    top: 12px;
                }
            }
            p {
                font-size: 14px;
                color:$text-primary-color;
                font-family:$font_regular;
                margin-bottom: 0;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
}
.nav-tabs {
    .nav-link {
        color: $text-primary-color;
        font-family: $font_medium;
        text-align: center;
        padding: 0;

        &.active {
            border-color: transparent;
            font-family: $font_medium;
            height: 72px;
            color: $primary-color-md;
        }
    }
}
// Sign Up Sass End


//featured categories
.featured-categories-home{
    width:100%;
    background-color:$grey-Elite;
    padding:22px 0;
    border-bottom:solid 1px $grey-lite;
    ul{
        margin:0;
        padding:0;
        li{

        }
    }
    .list-description{
        p{
            font-family:$font-bold;
            margin-left:12px;
        }
    }
}

.section-local-work
{
    .list-icon{
        margin-right:30px;
        vertical-align:top;
    }
}

/*===========
    Popular services
===========*/

.box-img
{
    border-radius:14px;
    overflow:hidden;
    display:block;
}

.Popular-services-slides{
    margin: 0 0px;
    clear: both;
    display: block;
    padding: 0;
    overflow: hidden;
        .owl-item{
            padding-left:16px !important;
            padding-right:16px !important;
        }
        li{
/*         max-width:400px;
        float: left;
        padding-left: 20px;
        padding-right: 20px; */
        a{
            text-decoration:none;
        }
        .box-img{
            margin-bottom:32px;
        }
        h6{
            margin-bottom:16px;
            color:$text-primary-color;
        }
        p{
            color:$grey-dark;
            i{
                display:inline-block;
                color:$primary-color;
                vertical-align: middle;
                margin-right: 10px;
                position: relative;
                top: -4px;
            }
        }
    }
    .owl-nav{
        display:none;
    }

}


.owl-dots{
    text-align:center;
        margin-top: 60px;
    button{
        display:inline-block;
        width:25px;
        height:25px;
        border-radius:100%;
        background-color:$grey-lite !important;
        margin:0px 16px 0;
        cursor: pointer;
        outline:none !important;
        &.active{
            background-color:$primary-color-lt !important;
        }
    }
}

.slide-blts{
    width:100%;
    display:block;
    text-align:center;
    margin-top:20px;
    li{
        display:inline-block;
        width:25px;
        height:25px;
        border-radius:100%;
        background-color:$grey-lite;
        margin:0px 16px 0;
        cursor: pointer;
        &.active{
            background-color:$primary-color-lt;
        }
    }
 }
/* Testmonial Section */
.testmonial-section{
    .item-list{
        .item{
            display: inline-block;
            width: 49%;
            vertical-align: top;
            &:nth-child(1n){
                padding-right: 44px;
            }
            &:nth-child(2n){
                padding-right: 0px;
            }
        }
        .testmonial-img{
            display: block;
            text-align: center;
            width: 80px;
            height: 80px;
            margin: auto;
        }
        .testmonial-name {
            text-align: center;
            padding-top: 16px;
            h3{
                font-size: $font-size-xs;
            }
        }
    }
}

.search-filter{
    margin-bottom: 24px;
    input{
        display: inline-block;
        &.search-service{
            width: calc(100% - 20%);
            border-right: 0px;
            border-radius: 4px 0px 0px 4px;
        }
        &.zip-code{
            width: 100%;
            padding-left: 40px;
            padding-right: 5px;
            border-radius: 0px 4px 4px 0px;
            margin-left: -4px;
        }
    }
    .container-zip-code{
        width: 19%;
        display: inline-block;
        position: relative;
        i{
            position: absolute;
            color: #B2B2B2;
            font-size: 24px;
            height: 100%;
            left:4px;
            display: flex;
            align-items: center;
        }
    }
}

.testmonial-block{
    background-color: #fff;
    padding: 32px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    min-height: 181px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    border-radius: 12px;
    i{
        color: $primary-color;
        font-size: 24px;
        padding-bottom: 20px;
        display: block;
    }
    p{
        font-size: $font-size-sm+2;
        margin-bottom: 0px;
        line-height: 29px;
    }
    &:before{
        content: '';
        position: absolute;
        bottom: -15px;
        left: 47%;
        /* box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); */
        border-top: 15px solid #fdfdfd;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
    &:after{
        content: '';
        position: absolute;
        bottom: -15px;
        left: 47%;
        /* box-shadow: 0 0 10px 0 rgba(0,0,0,0.2); */
        border-top: 15px solid #fdfdfd;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
}
.grey-bg{
    background-color: #F9F9F9;
}

.heading-large{
    font-size: $font-size-xxl;
}

.element-column-image {
    position: absolute;
    top: 0;
    right: 5%;
    z-index: 9;
    height: 100%;
    img{
        height: 100%;
        width: auto;
    }
}

.category-section{
    padding-bottom: 70px;
    .category-title{
        width: 25%;
        display: inline-block;
        vertical-align: top;
        h2{
            font-size: $font-size-lg;
        }
    }
    .category-items{
        width: 74%;
        display: inline-block;
        .items{
            width: 33%;
            display: inline-block;
            padding: 0px 11px;
            .item-image{
                width: 282px;
                height: 282px;
                background-size: cover;
                border-radius: 7px;
            }
            h4{
                padding: 30px 0px;
                font-size: $font-size-xs+2;
                color: #1a1a1a;
            }
            &:first-child{
                padding-left: 0px;
            }
            &:last-child{
                padding-right: 0px;
            }
        }
    }
    .showmore{
        a{
            font-size: $font-size-xs;
            &:hover,&:focus{
                text-decoration: none;
            }
        }
        i {
            font-size: 20px;
            vertical-align: text-top;
        }
    }
}

.category-items{

}



// Profile form sass start

.profile-head {
    margin-top: 30px;
    h1 {
        margin: 0 0 20px;
        text-align: center;
    }
}

// Profile form sass end

.how-it-work-list{
    .list-description{
        width:100%;
    }
}

.home_body
{
    .how-it-work{
        .section-title{
            padding-bottom: 80px;
        }
    }
}

.ready-to-meet
{
    p{
        font-size:$font-size-sm;
        line-height: 29px;
        margin-bottom: 37px;
    }
}
