$header-height:70px;
$header-background:#fff;

.header{
   position: relative;
   height:$header-height;
   background:$header-background;

    .inner{
       position:fixed;
       height:$header-height;
       background:$header-background;
       width: 100%;
    }
}
